body {
  /* background-color: rgba(255, 196, 0, 0.904); */
  background-color: antiquewhite;
}

/* Need to add media Quieres - not optional - also need to read up on this - 12/09/24 1543  */

h1 {
  text-align: center;
  background-color: blueviolet;
}

h2 {
  text-align: center;
  background-color: rgb(134, 134, 252);
}

.bananaTotal {
  margin: 25px;
  text-align: center;
  background-color: aqua;
}

.bananaButton {
  margin-left: 48%;
  width: 100px;
  height: 100px;
  background-color: blue;
}

.BpS {
  text-align: center;
  background-color: brown;
}

.resetButton {
  float: right;
  margin-right: 25%;
  background-color: rgb(23, 163, 34);
}

.bananaShop {
  text-align: center;
  background-color: aquamarine;
}
