* {
  font-family: kavoon;
}
body {
  /* background-color: rgba(255, 196, 0, 0.904); */
  background-color: antiquewhite;
}

/* Need to add media Quieres - not optional - also need to read up on this - 12/09/24 1543  */

h1 {
  text-align: center;
  /* background-color: blueviolet; */
}

h2 {
  text-align: center;
  /* background-color: rgb(134, 134, 252); */
}

.bananaTotal {
  margin: 25px;
  text-align: center;
  /* background-color: aqua; */
}

.bananaButton {
  margin-left: 45%;
  width: 200px;
  height: 200px;
  /* background-color: blue; */
}

.BpS {
  text-align: center;
  /* background-color: brown; */
}

.resetButton {
  float: right;
  margin-right: 25%;
  /* background-color: rgb(23, 163, 34); */
}

.bananaShop {
  background-color: antiquewhite;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px; */
  /* inline-size: 5px; */
  width: fit-content;
  block-size: fit-content;
  float: left;
}

.shopNames {
  text-align: center;
  background-color: white;

  /* flex: 0 0 33.3333%; */

  /* padding: 10px; */
}
.shopCost {
  text-align: center;
  background-color: white;

  /* flex: 0 0 33.3333%; */
  /* padding: 10px; */
}
.shopBpSIncrease {
  text-align: center;
  background-color: white;
  /* flex: 0 0 33.3333%; */

  /* padding: 10px; */
}

.buyButtons {
  display: grid;
  grid-template-columns: repeat(n, 1fr);
  float: left;
  margin-top: 16px;
  margin-left: 50px;
  gap: 30px;
}
